

/***

        HEADER

                    ***/

nav
{
    position: fixed;
    margin: 40px;
}

/***

        FOOTER

                    ***/

footer a
{
    position: fixed;
    right: 60px;
    bottom: 60px;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

/***

        HOME PAGE

                    ***/

body
{
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    font-family: 'Montserrat', sans-serif;
}

.presentation
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    font-size: 3.0em;
    font-weight: 600;
    line-height: 140%;
    text-shadow: 36px 40px 2px #606060;

}

.description h1, .description h2
{
    display: inline;
    color: orange;
}

.description h1::after
{
    content: ",";
    color: white;
}

.description h1
{
    margin: 0 16px; 
}

.description span
{
    color: white;
}


