/***

        ILLUSTRATIONS SLIDER

                                    ***/


::-webkit-scrollbar { 
    display: none; 
}

.title_works
{
    position: absolute;
    font-size: 2.2em;
    font-weight: 600;
    padding-top: 80px;
    padding-left: 160px;
    color: #F39523;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}
.container .slides
{
    width: 150vw;
    height: 715px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10vw;
    margin-top: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.container .slides .slide
{
    flex: 0 0 auto;
    padding: 0 70px;
    position: relative;
}

.container .slides .slide .shadow_illustration, .container .slides .slide .shadow_interface
{
    position: absolute;
    bottom: 0;
    width: 391px;
    height: 715px;
    opacity: 1;
    background: linear-gradient(to top, rgba(0,0,0,0.86) 0%, rgba(0,0,0,0.86) 6%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0) 100%);
    transition: opacity ease-in-out 0.5s;
    cursor: pointer;
}

.container .slides .slide .shadow_illustration:hover, .container .slides .slide .shadow_interface:hover
{
    opacity: 0;
}

.container .slides .slide:last-child
{
    padding-right: 300px;
}

/***

        ILLUSTRATIONS MORE
        
                                    ***/

.more
{
    width: 100vw;
    height: 0vh;
    background-color: #fff;
    overflow: hidden;
}

.colors
{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.color1, .color2, .color3
{
    width: 240px;
    height: 320px;
    background-color: blue;
}

.color2
{
    margin-top: 60px;
}

.tools
{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.tool
{
    width: 70vw;
}

.tools .tool h1
{
    font-size: 2.6em;
    font-weight: 600;
    margin-bottom: 30px; 
}

.tools .tool h2
{
    margin-top: 20px;
    font-size: 1.4em;
}